<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/form.js' %}"></script>
</head>
<body>

    <header>
        <nav>
        <h1>Turma 047</h1>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Sair</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Entrar</a></li>
            {% endif %}
            <li><a href="{% url 'cadastro' %}">Cadastrar</a></li>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="">Projetos</a></li>
            <li><a href="">Portal de Avisos</a></li>
        </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- conteúdo específico de cada página -->
        {% endblock %}
    </main>

    <footer>
        <!-- rodapé padrão -->
    </footer>
</body>
</html>
